{
  "BASE": {
    "logging_level": "info",
    "datastore": "influx"
  },
  "ECS_CONNECTION": [ {
    "protocol": "https",
    "host": "xx.xx.xx.xx",
    "port": "4443",
    "user": "root",
    "password": "",
    "dataType": "default",
    "category":"default",
    "connectTimeout": "15",
    "readTimeout": "60"
  }
  {
    "protocol": "https",
    "host": "xx.xx.xx.xx",
    "port": "4443",
    "user": "root",
    "password": "",
    "dataType": "default",
    "category":"default",
    "connectTimeout": "15",
    "readTimeout": "60"
  }],
  "INFLUX_DATABASE_CONNECTION": {
    "host": "xx.xx.xx.xx",
    "port": "8086",
    "user": "root",
    "password": "root",
    "databasename": "ecsdatacollection",
    "timeoutRetries": "3",
    "retentionPolicyName": "default",
    "RetentionPolicyDuration": "7d",
    "RetentionPolicyReplicationFactor": "1"
  },
  "ECS_API_POLLING_INTERVALS": {
    "ecs_collect_local_zone_data()": "30",
    "ecs_collect_local_zone_replication_data()": "30",
    "ecs_collect_local_zone_replication_failure_data()": "30",
    "ecs_collect_local_zone_bootstrap_data()": "30",
    "ecs_collect_capacity_data()": "30",
    "ecs_collect_local_zone_node_data()": "30",
    "ecs_collect_local_zone_disk_data()": "30",
    "ecs_collect_namespace_billing_data()": "90"
  }
}
